html {
  font-family: "Helvetica Neue", "Helvetica", "Futura", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --max-width: 1200px;
  --space-xxl: 16rem;
  --space-xl: 8rem;
  --space-lg: 4rem;
  --space-md: 2rem;
  --space-sm: 1rem;
  --space-xs: 0.5rem;
  --space-xxs: 0.25rem;
  --color-primary: oklch(0.205 0 0);
  --color-primary-hover: oklch(0.235 0 0);
  --color-secondary: oklch(0.97 0 0);
  --color-secondary-hover: oklch(0.90 0 286);
  --color-tertiary: oklch(0.95 0 286);
  --color-tertiary-hover: oklch(0.90 0 286);
  --color-link: oklch(0.95 0 286);
  --color-link-hover: oklch(0.90 0 286);
  --color-background: oklch(0.95 0 286);
  --font-size-base: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --letter-spacing-narrow: -0.025em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.05em;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-rounded: 9999px;
}

h1 {
  font-size: var(--font-size-xxl);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.section {
  padding-block: var(--space-lg);
  border-bottom: 1px solid #e0e0e0;
  &:last-child {
    border-bottom: none;
  }
}

.container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--space-md);
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--space-md);
}

.heading {
  letter-spacing: -0.025em;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);
}
