---
import type { HTMLAttributes } from 'astro/types';

type GridProps = HTMLAttributes<'div'>;

const { class: className = '', ...attrs }: GridProps = Astro.props;
---

<div class:list={['grid', className]} {...attrs}>
  <slot />
</div>
