---
import type { HTMLAttributes } from 'astro/types';

type PageProps = HTMLAttributes<'div'>;

const { class: className = '', ...attrs }: PageProps = Astro.props;
---

<div class:list={['page', className]} {...attrs}>
  <slot />
</div>
