---
import type { HTMLAttributes } from 'astro/types';

type SectionProps = HTMLAttributes<'section'>;

const { class: className = '', ...attrs }: SectionProps = Astro.props;
---

<section class:list={['section', className]} {...attrs}>
  <slot />
</section>
