---
import Container from '../layout/Container.astro';
import Grid from '../layout/Grid.astro';

const links = [
  { label: 'Home', href: '/' },
  { label: 'Projects', href: '/projects' },
  { label: 'Contact', href: '/contact' },
];
---

<nav>
  <Container>
    <ul>
      <Grid>
        {
          links.map(({ label, href }) => (
            <li>
              <a href={href}>{label}</a>
            </li>
          ))
        }
      </Grid>
    </ul>
  </Container>
</nav>

<style>
  nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    height: var(--nav-height);
    border-bottom: 1px solid black;
    padding-block: var(--space-sm);
  }

  ul {
    display: flex;
    gap: 1rem;
  }

  li {
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wide);
  }

  li:first-child {
    grid-column-start: 1;
  }

  li:nth-child(2) {
    grid-column-start: 6;
  }

  li:last-child {
    grid-column-end: -1;
    text-align: right;
  }
</style>
