---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Projects';
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
</BaseLayout>

<style>
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }
</style>
