---
import type { HTMLAttributes } from 'astro/types';

type TextProps = HTMLAttributes<'p'>;

const { class: className = '', ...attrs }: TextProps = Astro.props;
---

<p class:list={[`text ${className}`]} {...attrs}>
  <slot />
</p>
